

<script src="https://jwsite.sharepoint.com/sites/ita-lbd-bethelfacilitysupport/LBDSharepoint%20Code/Framework/vendors/alpine.min.js" defer></script>
<script src="https://jwsite.sharepoint.com/sites/ita-lbd-bethelfacilitysupport/LBDSharepoint%20Code/Framework/vendors/bootstrap.bundle.min.js" defer crossorigin="anonymous"></script>

<div id="view-host"
     data-provider="designerApp"
     data-subfolder="ui/views/Designers"
     data-file-html="index.html"
     data-file-css="style.css"
     data-file-js="app.js"
     data-version="20250910-1734"></div>

<script src="https://jwsite.sharepoint.com/sites/ita-lbd-bethelfacilitysupport/LBDSharepoint%20Code/Framework/ui/views/loader.boot.js" defer></script>
