<div x-data="EQListStockApp()" x-init="init()">
	<h2>Gestione Equipment List Stock Models</h2>
	<div class="filter-list">
		<button class="button-icon button-add" @click="newEqListStock(null)">
			<svg width="24" height="24" viewBox="0 0 24 24" aria-label="Nuovo" role="img"
				fill="none" stroke="#000000" stroke-width="6" stroke-linecap="round" stroke-linejoin="round">
				<path d="M12 5v14M5 12h14"/>
			</svg>
		</button>
		<button class="button-icon button-add" @click="openEditTableListShowHide()">
			<svg xmlns="http://www.w3.org/2000/svg"
				width="20" height="20" viewBox="0 0 24 24"
				fill="none" stroke="#000000" stroke-width="1"
				stroke-linecap="round" stroke-linejoin="round">               
			<!-- occhio sbarrato -->
			<path d="M21 12c-1.8 3-5 5-9 5s-7.2-2-9-5c1.8-3 5-5 9-5s7.2 2 9 5z"/>
			<line x1="3" y1="3" x2="20" y2="20"/>
			</svg>
		</button>
		<input
			class="input-search"
			type="text"
			placeholder="Cerca..."
			x-model="search"
			@input="filterVenues"
			style="margin-bottom: 1em; width: 100%; padding: 6px;"
		/>
	</div>

  
  	<div class="list-scroll" id="list-scroll">
		<table id="tableList" class="table-list">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th data-name="Id" @click="sortBy('Id')">ID</th>
					<th data-name="ModelCode" @click="sortBy('ModelCode')">Model Code</th>
					<th data-name="ModelDescription" @click="sortBy('ModelDescription')">Model Description</th>
					<th data-name="StockQuantity" @click="sortBy('StockQuantity')">Stock Quantity</th>
					<th data-name="EQCategory" @click="sortBy('EQCategory')">EQ Category</th>
					<th data-name="Discontinued" @click="sortBy('Discontinued')">Discontinued</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<template x-for="item in filteredEQModels" :key="item.Id">
					<tr>
						<td>
							<button @click="editEQListItemStock(item)">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
										viewBox="0 0 20 20" fill="none" stroke="#000000"
										stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
									<path d="M12 20h9"/>
									<path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"/>
								</svg>
							</button>
						</td>
						<td data-name="Id" x-text="item.Id" :class="item.Discontinued ? 'eqList-td-cell-discontinued' : ''"></td>
						<td data-name="ModelCode" x-text="item.ModelCode" :class="item.Discontinued ? 'eqList-td-cell-discontinued' : ''"></td>
						<td data-name="ModelDescription" x-text="item.ModelDescription" :class="item.Discontinued ? 'eqList-td-cell-discontinued' : ''"></td>
						<td data-name="StockQuantity" x-text="item.StockQuantity" :class="item.Discontinued ? 'eqList-td-cell-discontinued' : ''"></td>
						<td data-name="EQCategory" x-text="item.EQCategory" :class="item.Discontinued ? 'eqList-td-cell-discontinued' : ''"></td>
						<td data-name="Discontinued" x-text="item.Discontinued ? 'Si' : ''" :class="item.Discontinued ? 'eqList-td-discontinued' : ''"></td>
						<td>
							<button @click="deleteEQListStock(item.Id)">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
									viewBox="0 0 20 20" fill="none" stroke="#000000"
									stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
									<path d="M3 6h18"/>
									<path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
									<path d="M19 6l-1 14a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2L5 6"/>
									<path d="M10 11v6M14 11v6"/>
								</svg>
							</button>
						</td>
					</tr>
				</template>
			</tbody>
		</table>
	</div>

	<div class="overlay overlayhidden" id="overlayContainer">

		<div class="modelContent modelContentHidden" id="eqListEditContainer">
			<form @submit.prevent="saveEQListStock" style="margin-bottom:1em;">
				
				<div>
					<label>Model Code</label>
					<input type="text" x-model="form.ModelCode" required />
				</div>

				<div>
					<label>Model Description</label>
					<textarea cols="60" rows="2" x-model="form.ModelDescription"></textarea>
				</div>

				<div>
					<label>Stock Quantity</label>
					<input type="number" x-model="form.StockQuantity" />
				</div>

				<div>
					<label>Categoria Equipment</label>
					<input type="text" x-model="form.EQCategory" />
				</div>

				<div>
					<label>Discontinued</label>
					<input type="checkbox" x-model="form.Discontinued" />
				</div>
				<div class="modelContentFormButtons">
                    <button class="modalContentButton" type="submit">
                        <span x-text="form.Id ? 'Aggiorna EQ List Stock' : 'Aggiungi EQ List Stock'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            width="24" height="24" viewBox="0 0 24 24" 
                            fill="none" stroke="#000" stroke-width="2" 
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"/>
                            <polyline points="17 21 17 13 7 13 7 21"/>
                            <polyline points="7 3 7 8 15 8"/>
                        </svg>

                    </button>
                
                    <button @click="closeModalEdit"
                        type="button"
                        title="Chiudi"
                        class="modalContentButton">
                        Chiudi senza salvare
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            width="24" height="24" viewBox="0 0 24 24" 
                            fill="none" stroke="#000" stroke-width="2" 
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
                            <polyline points="16 17 21 12 16 7"/>
                            <line x1="21" y1="12" x2="9" y2="12"/>
                        </svg>
                    </button>
                </div>
				<input type="hidden" x-model="form.Id" />
			</form>
		</div>

		<div id="divLoading" class="loading-box loading-hide">
            <span class="close-btn" @click="hideLoading">&times;</span>
            <p class="loading-text">Salvataggio in corso...</p>
            <svg class="spinner" viewBox="0 0 50 50">
                <circle
                    cx="25" cy="25" r="20"
                    fill="none" stroke-width="5">
                </circle>
            </svg>
        </div>

        <div id="editVisibilityTableCols" class="modalShowHideTableCols modalShowHideTableColsHidden" >
            <h3>Mostra/Nascondi colonne</h3>

            <!-- Checkbox Seleziona/Togli tutti -->
            <label class="checkbox-item">
                <input type="checkbox" x-model="tableListCkAllChecked" />
                <span>Seleziona/Togli tutti</span>
            </label>

            <div class="checkbox-list-columns">
                <template x-for="(field, index) in fields" :key="field.name">
                    <label class="checkbox-item">
                        <input type="checkbox" x-model="field.showInTableList">
                        <span x-text="field.label"></span>
                    </label>
                </template>
            </div>

            <div class="modal-actions">
                <button class="btn" @click="saveTableListShowHide()">Conferma e chiudi</button>
            </div>
        </div>
	</div>

	<div id="divNotification" class="notification">
        <span id="notifMsg"></span>
        <span class="close-btn" @click="hideNotification">&times;</span>
    </div>
	
</div>